:root {
  font-size: calc( 16px ); }

body {
  margin: 0; }
  body * {
    font-family: sans-serif; }

h1,
h2 {
  font-weight: 900;
  text-align: center; }

li,
p {
  font-weight: 400;
  text-align: center; }

.grid {
  max-width: calc(100vw - 2rem);
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-size: 0;
  margin: 0 auto; }
  .grid:after {
    clear: both;
    display: block;
    content: ' ';
    height: 0;
    visibility: hidden; }
  .grid .col-0 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 0 + (2.5rem * -1));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    display: none; }
  .grid [class*="col-"].col-push-0 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 0 + (2.5rem * 0)); }
  .grid .col-1 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 1 + (2.5rem * 0));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-1 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 1 + (2.5rem * 1)); }
  .grid .col-2 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 2 + (2.5rem * 1));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-2 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 2 + (2.5rem * 2)); }
  .grid .col-3 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 3 + (2.5rem * 2));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-3 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 3 + (2.5rem * 3)); }
  .grid .col-4 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 4 + (2.5rem * 3));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-4 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 4 + (2.5rem * 4)); }
  .grid .col-5 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 5 + (2.5rem * 4));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-5 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 5 + (2.5rem * 5)); }
  .grid .col-6 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 6 + (2.5rem * 5));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-6 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 6 + (2.5rem * 6)); }
  .grid .col-7 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 7 + (2.5rem * 6));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-7 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 7 + (2.5rem * 7)); }
  .grid .col-8 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 8 + (2.5rem * 7));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-8 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 8 + (2.5rem * 8)); }
  .grid .col-9 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 9 + (2.5rem * 8));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-9 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 9 + (2.5rem * 9)); }
  .grid .col-10 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 10 + (2.5rem * 9));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-10 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 10 + (2.5rem * 10)); }
  .grid .col-11 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 11 + (2.5rem * 10));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-11 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 11 + (2.5rem * 11)); }
  .grid .col-12 {
    width: calc((calc(100vw - 2rem) - 32.5rem)/12  * 12 + (2.5rem * 11));
    margin-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-12 {
    margin-left: calc((calc(100vw - 2rem) - 32.5rem)/12  * 12 + (2.5rem * 12)); }

p {
  box-sizing: content-box;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 1.89rem;
  margin-bottom: -0.39rem;
  padding-bottom: 0; }

h2 {
  box-sizing: content-box;
  font-size: 3rem;
  line-height: 4.5rem;
  margin-top: 6.775rem;
  margin-bottom: -1.275rem;
  padding-bottom: 0; }

h1 {
  box-sizing: content-box;
  font-size: 2rem;
  line-height: 4.5rem;
  margin-top: 1.6rem;
  margin-bottom: -1.6rem;
  padding-bottom: 0; }

.grid.display {
  position: fixed;
  left: 1rem; }
  .grid.display .col-1 {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.025);
    background-color: rgba(0, 0, 200, 0.08); }

.grid.display.baseline .col-12 {
  height: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: rgba(200, 0, 200, 0.08); }

div[class^=grid] {
  color: black; }

div[class^=span] {
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 1rem;
  min-height: 100%;
  border-right: 1px dashed rgba(0, 0, 0, 0.2);
  border-left: 1px dashed rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.025); }

/*# sourceMappingURL=style.css.map */
