.grid .span-1, .grid .span-2, .grid .span-3, .grid .span-4, .grid .span-5, .grid .span-6, .grid .span-7, .grid .span-8, .grid .span-9, .grid .span-10, .grid .span-11, .grid .span-12, .grid-base .span-1, .grid-base .span-2, .grid-base .span-3, .grid-base .span-4, .grid-base .span-5, .grid-base .span-6, .grid-base .span-7, .grid-base .span-8, .grid-base .span-9, .grid-base .span-10, .grid-base .span-11, .grid-base .span-12 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  padding-right: "";
  margin-bottom: 0; }

.grid, .grid-base {
  box-sizing: border-box;
  display: block;
  font-size: 0;
  margin: 0 auto; }

.grid .row, .grid-base .row {
  position: relative;
  display: flex;
  align-items: stretch; }
  .grid .row [class^=span-]:last-of-type, .grid-base .row [class^=span-]:last-of-type {
    margin-right: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  margin: 0; }
  body * {
    font-family: 'Inconsolata', monospace; }

h1,
h2 {
  color: #e5818b;
  font-weight: 100;
  text-align: center; }

li,
p {
  color: #58636f;
  font-weight: 100; }

.grid {
  max-width: 1200px;
  width: 100%; }
  .grid .span-1, .grid .span-2, .grid .span-3, .grid .span-4, .grid .span-5, .grid .span-6, .grid .span-7, .grid .span-8, .grid .span-9, .grid .span-10, .grid .span-11, .grid .span-12 {
    margin-right: 1.51515%; }
  .grid .span-1 {
    width: 6.94444%; }
    @media screen and (max-width: 600px) {
      .grid .span-1 {
        width: 13.88889%; } }
    .grid .span-1:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 6.94444%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid .span-2 {
    width: 15.40404%; }
    @media screen and (max-width: 600px) {
      .grid .span-2 {
        width: 31.11111%; } }
    .grid .span-2:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 15.40404%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid .span-3 {
    width: 23.86364%; }
    @media screen and (max-width: 600px) {
      .grid .span-3 {
        width: 48.33333%; } }
    .grid .span-3:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 23.86364%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid .span-4 {
    width: 32.32323%; }
    @media screen and (max-width: 600px) {
      .grid .span-4 {
        width: 65.55556%; } }
    .grid .span-4:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 32.32323%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid .span-5 {
    width: 40.78283%; }
    @media screen and (max-width: 600px) {
      .grid .span-5 {
        width: 82.77778%; } }
    .grid .span-5:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 40.78283%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid .span-6 {
    width: 49.24242%; }
    @media screen and (max-width: 600px) {
      .grid .span-6 {
        width: 100.0%; } }
    .grid .span-6:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 49.24242%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid .span-7 {
    width: 57.70202%; }
    @media screen and (max-width: 600px) {
      .grid .span-7 {
        width: 117.22222%; } }
    .grid .span-7:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 57.70202%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid .span-8 {
    width: 66.16162%; }
    @media screen and (max-width: 600px) {
      .grid .span-8 {
        width: 134.44444%; } }
    .grid .span-8:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 66.16162%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid .span-9 {
    width: 74.62121%; }
    @media screen and (max-width: 600px) {
      .grid .span-9 {
        width: 151.66667%; } }
    .grid .span-9:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 74.62121%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid .span-10 {
    width: 83.08081%; }
    @media screen and (max-width: 600px) {
      .grid .span-10 {
        width: 168.88889%; } }
    .grid .span-10:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 83.08081%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid .span-11 {
    width: 91.5404%; }
    @media screen and (max-width: 600px) {
      .grid .span-11 {
        width: 186.11111%; } }
    .grid .span-11:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 91.5404%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid .span-12 {
    width: 100.0%; }
    @media screen and (max-width: 600px) {
      .grid .span-12 {
        width: 203.33333%; } }
    .grid .span-12:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 100.0%;
      padding-left: 1.51515%;
      background-color: white; }
  .grid.guts {
    padding-left: 1.51515%;
    padding-right: 1.51515%; }
  .grid:after {
    font-size: 20px;
    color: red; }

.grid-base {
  max-width: 100%;
  width: 100%; }
  .grid-base .span-1, .grid-base .span-2, .grid-base .span-3, .grid-base .span-4, .grid-base .span-5, .grid-base .span-6, .grid-base .span-7, .grid-base .span-8, .grid-base .span-9, .grid-base .span-10, .grid-base .span-11, .grid-base .span-12 {
    margin-right: 0%; }
  .grid-base .span-1 {
    width: 8.33333%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-1 {
        width: 16.66667%; } }
    .grid-base .span-1:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 8.33333%;
      padding-left: 0%;
      background-color: white; }
  .grid-base .span-2 {
    width: 16.66667%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-2 {
        width: 33.33333%; } }
    .grid-base .span-2:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 16.66667%;
      padding-left: 0%;
      background-color: white; }
  .grid-base .span-3 {
    width: 25%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-3 {
        width: 50%; } }
    .grid-base .span-3:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 25%;
      padding-left: 0%;
      background-color: white; }
  .grid-base .span-4 {
    width: 33.33333%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-4 {
        width: 66.66667%; } }
    .grid-base .span-4:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 33.33333%;
      padding-left: 0%;
      background-color: white; }
  .grid-base .span-5 {
    width: 41.66667%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-5 {
        width: 83.33333%; } }
    .grid-base .span-5:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 41.66667%;
      padding-left: 0%;
      background-color: white; }
  .grid-base .span-6 {
    width: 50%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-6 {
        width: 100%; } }
    .grid-base .span-6:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 50%;
      padding-left: 0%;
      background-color: white; }
  .grid-base .span-7 {
    width: 58.33333%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-7 {
        width: 116.66667%; } }
    .grid-base .span-7:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 58.33333%;
      padding-left: 0%;
      background-color: white; }
  .grid-base .span-8 {
    width: 66.66667%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-8 {
        width: 133.33333%; } }
    .grid-base .span-8:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 66.66667%;
      padding-left: 0%;
      background-color: white; }
  .grid-base .span-9 {
    width: 75%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-9 {
        width: 150%; } }
    .grid-base .span-9:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 75%;
      padding-left: 0%;
      background-color: white; }
  .grid-base .span-10 {
    width: 83.33333%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-10 {
        width: 166.66667%; } }
    .grid-base .span-10:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 83.33333%;
      padding-left: 0%;
      background-color: white; }
  .grid-base .span-11 {
    width: 91.66667%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-11 {
        width: 183.33333%; } }
    .grid-base .span-11:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 91.66667%;
      padding-left: 0%;
      background-color: white; }
  .grid-base .span-12 {
    width: 100%; }
    @media screen and (max-width: 600px) {
      .grid-base .span-12 {
        width: 200%; } }
    .grid-base .span-12:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
      width: 100%;
      padding-left: 0%;
      background-color: white; }
  .grid-base.guts {
    padding-left: 0%;
    padding-right: 0%; }
  .grid-base:after {
    font-size: 20px;
    color: red; }

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  margin-top: 5.125px;
  margin-bottom: -5.125px; }

h2 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 25px;
  margin-top: 71.25px;
  margin-bottom: 3.75px; }

h1 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 40px;
  margin-top: 15.125px;
  margin-bottom: -15.125px; }

.grid-base {
  position: absolute; }
  .grid-base .span-12 {
    display: block !important;
    height: 5px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.025); }

div[class^=grid] {
  color: black;
  z-index: -2; }

div[class^=span] {
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 1rem;
  min-height: 100%;
  border-right: 1px dashed rgba(0, 0, 0, 0.2);
  border-left: 1px dashed rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.025); }

/*# sourceMappingURL=style.css.map */
