@import "solar";
$container: 800px;

body {
  margin: 0;
}

@include gen-grid($col:12,$gut:50);
@include gen-grid(12,0);

div[class^=grid] {
  background-color: rgba(0,0,0,0.2);
  color: white;
}
div[class^=span] {
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 20px;
  padding: 20px;
  font-family: sans-serif;

  > div {
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    margin-bottom: 20px;
  }

  &.span-7 {
    background: none !important;
    padding: 0;

    > div:last-of-type {
      margin-bottom: 0;
    }
  }
}
