@import "solar";

$margin: 0rem;
$grid: (
  columns: 12,
  gutter: 1rem,
  container: 800px,
  namespace: ""
);

@include gen-grid($grid);

:root {
  font-size: calc( 16px );
}

body {
  margin: 0;
  // background-color: rgb(240,240,250);
  // font-family: monospace;
  font-family: sans-serif;
}

@for $i from 1 through 20 {
  .height-#{$i} {
    // height: col-width($grid,$i);
    height: $i*1rem;
    margin-bottom: 1rem;
    float: left;
    .boxed {
      // height: calc(#{col-width($grid,$i)} - 1rem*2);
      height: $i*1rem - 2rem;
    }
  }
}


h2.overlined {
  height: 1rem*2;
  line-height: 1rem*2;
  // border-top: 1px solid grey;
  box-shadow: 0 -1px 0 0 grey;
  font-size: .8rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

.boxed {
    box-shadow: 0 0 0px 1px black;
  box-sizing: border-box;
  padding: map-get($grid,gutter);

  code ,
  p {
    display: block;
    @include baseline(.9rem,1rem);
    letter-spacing: 1px;;
  }
}

.block {
  padding: 1rem*2 0;
}



.grid.display {

  position: fixed;
  z-index: -1;
  left: 50%;
  transform: translate(-50%,0);


  .col-1 {
    height: 100vh;
    // background-color: rgba(0,0,0,0.025);
    // background-color: rgba(000,00,200,0.08);
    box-shadow: 0 0 0px 1px rgb(220,220,220);
  }
}
.grid.display.baseline {
  position: absolute;

  .col-12 {
    height: 1rem;
    &:nth-of-type(2n) {
    background-color: rgba(0,0,0,0.03);
      // box-shadow: 0 0 0px 1px rgb(220,220,220);
    }
  }
}

.header {
  padding: 0 map-get($grid,gutter);
  line-height: 1rem*5;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background: white;
  font-style: italic;
  background: black;
  color: white;
}

div[class^=grid] {
  //background-color: rgba(0,0,0,0.1);
  color: black;
  // background-color: rgb(245,245,245);
  // z-index: -2;
}
div[class^=span] {
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 1rem;
  // border-right: 1px dashed rgba(0,0,0,0.2);
  // border-left: 1px dashed rgba(0,0,0,0.2);
  min-height: 100%;
  border-right: 1px dashed rgba(0,0,0,0.2);
  border-left: 1px dashed rgba(0,0,0,0.2);
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0,0,0,0.025);
  // background-color: rgb(245,245,245);
  p {
    // width: 80%;
  }
}
