@import "solar";


html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  * {
    font-family: 'Inconsolata', monospace;
  }
}
h1 {
  color: rgb(229,129,139);
  font-weight: 100;
}

p {
  color: rgb(88,99,111);
  font-weight: 100;
}

@include baseline(6px); // vertical grid
@include gen-grid($col:12,$gut:20,$cont:1200px);
@include gen-grid(12,0,100%,'-base');

.grid-base {
  position: absolute;
  .span-12 {
    display: block !important;
    height: 5px;
    margin-bottom: 5px;
    background-color: rgb(230,230,230);
  }
}

div[class^=grid] {
  //background-color: rgba(0,0,0,0.1);
  color: black;
  // background-color: rgb(245,245,245);
  z-index: -2;
}
div[class^=span] {
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 1rem;
  // border-right: 1px dashed rgba(0,0,0,0.2);
  // border-left: 1px dashed rgba(0,0,0,0.2);
  min-height: 100%;
  padding-left: unit(4);
  border-right: 1px dashed rgba(0,0,0,0.2);
  border-left: 1px dashed rgba(0,0,0,0.2);
  // background-color: rgb(245,245,245);
  p {
    width: 80%;
  }
}
.row [class^=span]:before {
  border-right: 1px dashed rgba(0,0,0,0.2);
  border-left: 1px dashed rgba(0,0,0,0.2);
  background-color: rgb(245,245,245);
  // content: '';
}

.row [class^=span]:last-of-type{
  // border-right: none;
}
