.grid {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-size: 0;
  margin: 0 auto; }
  .grid:after {
    clear: both;
    display: block;
    content: ' ';
    height: 0;
    visibility: hidden; }
  .grid .col-0 {
    max-width: calc((800px - 13rem)/12  * 0 + (1rem * -1));
    width: calc((100% - 13rem)/12  * 0 + (1rem * -1));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    display: none; }
  .grid [class*="col-"].col-push-0 {
    margin-left: calc((800px - 13rem)/12  * 0 + (1rem * 1)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-0 {
        margin-left: calc((100% - 13rem)/12  * 0 + (1rem * 1)); } }
  .grid .col-1 {
    max-width: calc((800px - 13rem)/12  * 1 + (1rem * 0));
    width: calc((100% - 13rem)/12  * 1 + (1rem * 0));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-1 {
    margin-left: calc((800px - 13rem)/12  * 1 + (1rem * 2)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-1 {
        margin-left: calc((100% - 13rem)/12  * 1 + (1rem * 2)); } }
  .grid .col-2 {
    max-width: calc((800px - 13rem)/12  * 2 + (1rem * 1));
    width: calc((100% - 13rem)/12  * 2 + (1rem * 1));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-2 {
    margin-left: calc((800px - 13rem)/12  * 2 + (1rem * 3)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-2 {
        margin-left: calc((100% - 13rem)/12  * 2 + (1rem * 3)); } }
  .grid .col-3 {
    max-width: calc((800px - 13rem)/12  * 3 + (1rem * 2));
    width: calc((100% - 13rem)/12  * 3 + (1rem * 2));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-3 {
    margin-left: calc((800px - 13rem)/12  * 3 + (1rem * 4)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-3 {
        margin-left: calc((100% - 13rem)/12  * 3 + (1rem * 4)); } }
  .grid .col-4 {
    max-width: calc((800px - 13rem)/12  * 4 + (1rem * 3));
    width: calc((100% - 13rem)/12  * 4 + (1rem * 3));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-4 {
    margin-left: calc((800px - 13rem)/12  * 4 + (1rem * 5)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-4 {
        margin-left: calc((100% - 13rem)/12  * 4 + (1rem * 5)); } }
  .grid .col-5 {
    max-width: calc((800px - 13rem)/12  * 5 + (1rem * 4));
    width: calc((100% - 13rem)/12  * 5 + (1rem * 4));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-5 {
    margin-left: calc((800px - 13rem)/12  * 5 + (1rem * 6)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-5 {
        margin-left: calc((100% - 13rem)/12  * 5 + (1rem * 6)); } }
  .grid .col-6 {
    max-width: calc((800px - 13rem)/12  * 6 + (1rem * 5));
    width: calc((100% - 13rem)/12  * 6 + (1rem * 5));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-6 {
    margin-left: calc((800px - 13rem)/12  * 6 + (1rem * 7)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-6 {
        margin-left: calc((100% - 13rem)/12  * 6 + (1rem * 7)); } }
  .grid .col-7 {
    max-width: calc((800px - 13rem)/12  * 7 + (1rem * 6));
    width: calc((100% - 13rem)/12  * 7 + (1rem * 6));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-7 {
    margin-left: calc((800px - 13rem)/12  * 7 + (1rem * 8)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-7 {
        margin-left: calc((100% - 13rem)/12  * 7 + (1rem * 8)); } }
  .grid .col-8 {
    max-width: calc((800px - 13rem)/12  * 8 + (1rem * 7));
    width: calc((100% - 13rem)/12  * 8 + (1rem * 7));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-8 {
    margin-left: calc((800px - 13rem)/12  * 8 + (1rem * 9)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-8 {
        margin-left: calc((100% - 13rem)/12  * 8 + (1rem * 9)); } }
  .grid .col-9 {
    max-width: calc((800px - 13rem)/12  * 9 + (1rem * 8));
    width: calc((100% - 13rem)/12  * 9 + (1rem * 8));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-9 {
    margin-left: calc((800px - 13rem)/12  * 9 + (1rem * 10)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-9 {
        margin-left: calc((100% - 13rem)/12  * 9 + (1rem * 10)); } }
  .grid .col-10 {
    max-width: calc((800px - 13rem)/12  * 10 + (1rem * 9));
    width: calc((100% - 13rem)/12  * 10 + (1rem * 9));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-10 {
    margin-left: calc((800px - 13rem)/12  * 10 + (1rem * 11)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-10 {
        margin-left: calc((100% - 13rem)/12  * 10 + (1rem * 11)); } }
  .grid .col-11 {
    max-width: calc((800px - 13rem)/12  * 11 + (1rem * 10));
    width: calc((100% - 13rem)/12  * 11 + (1rem * 10));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-11 {
    margin-left: calc((800px - 13rem)/12  * 11 + (1rem * 12)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-11 {
        margin-left: calc((100% - 13rem)/12  * 11 + (1rem * 12)); } }
  .grid .col-12 {
    max-width: calc((800px - 13rem)/12  * 12 + (1rem * 11));
    width: calc((100% - 13rem)/12  * 12 + (1rem * 11));
    margin-left: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
  .grid [class*="col-"].col-push-12 {
    margin-left: calc((800px - 13rem)/12  * 12 + (1rem * 13)); }
    @media screen and (max-width: 800px) {
      .grid [class*="col-"].col-push-12 {
        margin-left: calc((100% - 13rem)/12  * 12 + (1rem * 13)); } }

:root {
  font-size: calc( 16px ); }

body {
  margin: 0;
  font-family: sans-serif; }

.height-1 {
  height: 1rem;
  margin-bottom: 1rem;
  float: left; }
  .height-1 .boxed {
    height: -1rem; }

.height-2 {
  height: 2rem;
  margin-bottom: 1rem;
  float: left; }
  .height-2 .boxed {
    height: 0rem; }

.height-3 {
  height: 3rem;
  margin-bottom: 1rem;
  float: left; }
  .height-3 .boxed {
    height: 1rem; }

.height-4 {
  height: 4rem;
  margin-bottom: 1rem;
  float: left; }
  .height-4 .boxed {
    height: 2rem; }

.height-5 {
  height: 5rem;
  margin-bottom: 1rem;
  float: left; }
  .height-5 .boxed {
    height: 3rem; }

.height-6 {
  height: 6rem;
  margin-bottom: 1rem;
  float: left; }
  .height-6 .boxed {
    height: 4rem; }

.height-7 {
  height: 7rem;
  margin-bottom: 1rem;
  float: left; }
  .height-7 .boxed {
    height: 5rem; }

.height-8 {
  height: 8rem;
  margin-bottom: 1rem;
  float: left; }
  .height-8 .boxed {
    height: 6rem; }

.height-9 {
  height: 9rem;
  margin-bottom: 1rem;
  float: left; }
  .height-9 .boxed {
    height: 7rem; }

.height-10 {
  height: 10rem;
  margin-bottom: 1rem;
  float: left; }
  .height-10 .boxed {
    height: 8rem; }

.height-11 {
  height: 11rem;
  margin-bottom: 1rem;
  float: left; }
  .height-11 .boxed {
    height: 9rem; }

.height-12 {
  height: 12rem;
  margin-bottom: 1rem;
  float: left; }
  .height-12 .boxed {
    height: 10rem; }

.height-13 {
  height: 13rem;
  margin-bottom: 1rem;
  float: left; }
  .height-13 .boxed {
    height: 11rem; }

.height-14 {
  height: 14rem;
  margin-bottom: 1rem;
  float: left; }
  .height-14 .boxed {
    height: 12rem; }

.height-15 {
  height: 15rem;
  margin-bottom: 1rem;
  float: left; }
  .height-15 .boxed {
    height: 13rem; }

.height-16 {
  height: 16rem;
  margin-bottom: 1rem;
  float: left; }
  .height-16 .boxed {
    height: 14rem; }

.height-17 {
  height: 17rem;
  margin-bottom: 1rem;
  float: left; }
  .height-17 .boxed {
    height: 15rem; }

.height-18 {
  height: 18rem;
  margin-bottom: 1rem;
  float: left; }
  .height-18 .boxed {
    height: 16rem; }

.height-19 {
  height: 19rem;
  margin-bottom: 1rem;
  float: left; }
  .height-19 .boxed {
    height: 17rem; }

.height-20 {
  height: 20rem;
  margin-bottom: 1rem;
  float: left; }
  .height-20 .boxed {
    height: 18rem; }

h2.overlined {
  height: 2rem;
  line-height: 2rem;
  box-shadow: 0 -1px 0 0 grey;
  font-size: .8rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box; }

.boxed {
  box-shadow: 0 0 0px 1px black;
  box-sizing: border-box;
  padding: 1rem; }
  .boxed code,
  .boxed p {
    display: block;
    box-sizing: content-box;
    font-size: 0.9rem;
    line-height: 1rem;
    margin-top: 0.2075rem;
    margin-bottom: -0.2075rem;
    padding-bottom: 0;
    letter-spacing: 1px; }

.block {
  padding: 2rem 0; }

.grid.display {
  position: fixed;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0); }
  .grid.display .col-1 {
    height: 100vh;
    box-shadow: 0 0 0px 1px gainsboro; }

.grid.display.baseline {
  position: absolute; }
  .grid.display.baseline .col-12 {
    height: 1rem; }
    .grid.display.baseline .col-12:nth-of-type(2n) {
      background-color: rgba(0, 0, 0, 0.03); }

.header {
  padding: 0 1rem;
  line-height: 5rem;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background: white;
  font-style: italic;
  background: black;
  color: white; }

div[class^=grid] {
  color: black; }

div[class^=span] {
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 1rem;
  min-height: 100%;
  border-right: 1px dashed rgba(0, 0, 0, 0.2);
  border-left: 1px dashed rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.025); }

/*# sourceMappingURL=style.css.map */
